* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  position: relative;
  max-width: 80px;
}

nav ul {
  gap: 20px;
  display: flex;
}
/* nav ul li {
  display: inline-block;
} */

nav ul li a {
  color: rgb(121, 118, 118);
  font-weight: 600;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .textBox {
  max-width: 600px;
  /* background-color: blue; */
  position: relative;
}

.content .textBox h1 {
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

.content .textBox h3 {
  font-size: 3.2em;
  font-weight: 500;
}
.content .textBox h3 span {
  color: #ed3b4e;
  font-weight: 800;
}
.content .textBox p {
  color: rgb(121, 118, 118);
  font-weight: 500;
}

.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background-color: #ed3b4e;
  color: white;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
}

.content .imgBox {
  display: flex;
  width: 600px;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 10px;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}

.thumb li {
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
}

.thumb li:hover {
  transform: translateY(15px); /* untuk mengubahj posisi atas*/
}

.thumb li img {
  max-width: 100px;
}

.sci {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}

.sci img {
  max-width: 10%;
}

.sci li a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
}
